extends layout

block content 
  div(class="d-flex align-items-center justify-content-center")
    div(class="text-center")
      h1(class="text-danger fs-1 pb-3") Oops!
      img(src="https://images.unsplash.com/photo-1425082661705-1834bfd09dca" alt="error image" class="img-fluid rounded-5 w-75")
      div(class=" col-md-6 mt-5")
      span(class="text-danger fs-3") Something went wrong on our end.
        p(class="lead") Use your back button to go back or the button below to go to the homepage.
        a(href="/" class="btn btn-primary") Go Home
