extends layout

block content
    div(class="mx-auto text-center")
        h1(class="display-6" style="margin-top: 12px") #{title}
    div(class="recommendation")
        p(class="fs-5 text-primary shadow p-3 mt-3 bg-body rounded") #{message}