.recommendation {
  display: block;
  width: auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .recommendation {
      width: 50%;
      margin: auto;
  }
}

img {
  max-width: 84%;
  height: auto;
  border-radius: 12px;
}

@media screen and (min-width: 1200px) {
  img {
      max-width: 44%;
  }
}
