.recommendation {
  display: block;
  width: auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .recommendation {
    width: 50%;
    margin: auto;
  }
}

img {
  max-width: 84%;
  height: auto;
  border-radius: 12px;
}

@media screen and (min-width: 1200px) {
  img {
    max-width: 44%;
  }
}

.episodes {
  margin-left: (1rem * 0.25);
  margin-right: 1rem;
}

div #values {
  margin: top 6rem;
}

div #values h1 {
  font-size: 2rem;
}

.auth {
  grid-row: auto;
  width: 100;
}

@media screen and (min-width: 1200px) {
  .auth {
    width: 50%;
    margin: auto;
  }
}
